.widget-main
  %h4.header.green.lighter.bigger
    =icon("group",nil, class: "blue")
    = t('registration.register')
  .space-6
  %p= t('registration.enter_details')
  = form_for(resource, :as => resource_name,
    :url => registration_path(resource_name),
    :html => { :role => "form" }) do |f|

    %fieldset
      = devise_error_messages!
      %label.block.clearfix
        %span.block.input-icon.input-icon-right
          = f.text_field :username, autofocus: true, class: 'form-control', placeholder: 'Username'
          =icon('user')

    .form-group
      = f.label :username
      .row
        .col-sm-6
          = f.text_field :username, :autofocus => true, class: "form-control"
    .form-group
      = f.label :email
      .row
        .col-sm-6
          = f.email_field :email, class: "form-control"
    .form-group
      .row
        .col-sm-6
          = f.label :password
          = f.password_field :password, class: "form-control"

    .form-group
      .row
        .col-sm-6
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class: "form-control"
    .row
      .col-sm-6
        = f.submit "Sign up", class: "btn btn-primary"




