- title(@premise.name)

%h3
  -#= @premise.name
.row#bp
  .col-xs-12
    .widget-box
      .widget-header
        %h5 Wie können wir ihnen helfen?

      .widget-body
        .widget-main
          = button_to 'Kellner rufen', item_requests_path(@item, type: 'Order'), method: :post, class: "btn btn-info btn-block btn-lg", disable_with: t('.disable_order')
          = link_to 'Bezahlen',  item_requests_path(@item, type: 'Bill'), method: :post, class: "btn btn-primary btn-success btn-block btn-lg", disable_with: t('.disable_order')
          = link_to 'Feedback', '#', class: "btn btn-primary btn-warning btn-block btn-lg"

:javascript
  var d = new Date();
  n = d.getTime();
  var place = "#{@place.name}";
  var item = "#{@item.name}";
