.widget-main
  %h4.header.blue.lighter.bigger Please Enter Your Information
  = render 'layouts/messages'
  = devise_error_messages!
  = form_for(resource, as: resource_name, url: session_path(resource_name), role: 'form') do |f|
    %fieldset
      %label.block.clearfix
        %span.block.input-icon.input-icon-right
          = f.text_field :login, autofocus: true, class: 'form-control', placeholder: t('login.login')
          =icon('user')
      %label.block.clearfix
        %span.block.input-icon.input-icon-right
          = f.password_field :password, class: 'form-control', placeholder: t('registration.password')
          =icon('lock')
      .space
      .clearfix
        %label.inline
          = f.check_box :remember_me, class: 'ace'
          %span.lbl= t('login.remember_me')
        %button.width-35.pull-right.btn.btn-sm.btn-primary{type:"submit"}
          =icon('key')
          = t('navigation.items.sign_in')

      .space-4
.toolbar.clearfix
  %div
    = link_to '#', class: 'forgot-password-link' do
      =icon('arrow-left')
      =t('sessions.forgot_pwd')
  %div
    = link_to new_registration_path(resource_name), class: 'user-signup-link' do
      =t('sessions.register')
      =icon('arrow-right')
.space-4
.links.text-center
  = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
.space-4



