<p><%= t('phrases.hello') %> <%= @resource.username.capitalize %>!</p>

<p><%= t('reset_pwd.reset_pwd_text') %></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t('reset_pwd.reset_pwd_text2') %></p>
<p><%= t('reset_pwd.reset_pwd_text3') %></p>
<br/>

<%= render 'shared/mailer_footer' %>